<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="tests" thread-count="2" >
    <test name="Test1">
        <parameter name="platformName" value="ANDROID"/>
        <parameter name="platformVersion" value="4.4.2"/>
        <parameter name="appiumServerURL" value="127.0.0.1:4723/wd/hub"/>
        <parameter name="deviceName" value="Samsung Duos"/>
        <parameter name="UDID" value="192.168.1.124:5555"/>
        <classes>
            <class name="Tests.LoginTests"/>
        </classes>
    </test>
    <!--  <test name="Test2">
          <parameter name="platformName" value="ANDROID"/>
          <parameter name="platformVersion" value="6.0"/>
          <parameter name="appiumServerURL" value="127.0.0.1:4725/wd/hub"/>
          <parameter name="deviceName" value="Redmi Note 4"/>
          <parameter name="UDID" value="192.168.1.119:5555"/>
          <classes>
              <class name="Tests.LoginTests"/>
          </classes>
      </test>-->
</suite>